.service-card {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    transition-delay: var(--delay, 0s);
}

.service-card.is-visible {
    opacity: 1;
    transform: translateY(0);
}


.project-card {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    transition-delay: var(--delay, 0s);
}

.project-card.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.team-card {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    transition-delay: var(--delay, 0s);
}

.team-card.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.testi-card {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    transition-delay: var(--delay, 0s);
}

.testi-card.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.reveal {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease;
}
.group:hover .reveal {
    grid-template-rows: 1fr;
}
.reveal > div {
    overflow: hidden;
    min-height: 0;
}
